@import './colors';
@import './mixins';

.container {
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;

  &--relative {
    position: relative;
    z-index: 1;
  }

  @include bp(mobile) {
    padding: 0 16px;
    width: 100%;
  }

  @include bp(tablet) {
    padding: 0 32px;
  }
}